body {
	background-color: rgb(20, 20, 20);
	font-family: 'Helvetica Neue', 'Helvetica';
}

div.content {
	width: 1000px;
	min-height: 400px;
	margin: 0 auto;
	margin-top: 40px;
	background-color: white;
}

div.centered {
	padding: 14px;
	text-align: center;
}

div.hand-info {
	width: 50%;
	float: left;
	text-align: left;
}